@font-face {
  font-family: "Avenir";
  src: url("../../../AvenirNextProLT/Linotype-AvenirNextLTPro-Regular.otf") format("opentype");
}
@font-face {
  font-family: "bold";
  src: url("../../../AvenirNextProLT/Linotype-AvenirNextLTPro-Bold.otf") format("opentype");
}
@font-face {
  font-family: "demi";
  src: url("../../../AvenirNextProLT/Linotype-AvenirNextLTPro-Demi.otf") format("opentype");
}
* {
  border: 0;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Avenir";
}

span {
  display: table;
  padding-top: 0.625rem;
}

.navbar {
  background-color: #323232;
  padding: 1.25rem;
}
.navbar__container--left {
  padding-bottom: 5px;
  padding-top: 0.625rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
@media screen and (min-width: 48.063em) and (max-height: 67.5em) {
  .navbar__container--left {
    padding-right: 3rem;
  }
}
@media screen and (min-width: 48em) and (max-height: 64em) {
  .navbar__container--left {
    padding-right: 3rem;
  }
}
.navbar__container--right {
  color: white;
  display: flex;
  -webkit-padding-before: inherit;
          padding-block-start: inherit;
  width: 100%;
}
@media screen and (min-width: 23.438em) and (max-height: 41.688em) {
  .navbar__container--right {
    justify-content: space-around;
  }
}
@media screen and (min-width: 23.438em) and (max-height: 41.688em) {
  .navbar {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}
@media screen and (min-width: 48em) and (max-height: 64em) {
  .navbar {
    display: flex;
    justify-content: flex-start;
  }
}
@media screen and (min-width: 48.063em) and (max-height: 67.5em) {
  .navbar {
    display: flex;
    justify-content: flex-start;
  }
}
@media screen and (min-width: 48em) and (max-height: 64em) {
  .navbar #button1 {
    padding-right: 5rem;
    padding-left: 2.5rem;
  }
}
@media screen and (min-width: 48.063em) and (max-height: 67.5em) {
  .navbar #button1 {
    padding-right: 5rem;
    padding-left: 2.5rem;
  }
}

.shows-image {
  background-image: url(../assets/images/show-background-image.jpg);
  background-size: cover;
  height: 50vh;
}
@media screen and (min-width: 23.438em) and (max-height: 41.688em) {
  .shows-image {
    width: 100%;
    height: 40vh;
  }
}
.shows-image__text {
  color: white;
  font-family: "bold";
  font-weight: bolder;
  font-size: xx-large;
  padding-left: 1rem;
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
}
@media screen and (min-width: 23.438em) and (max-height: 41.688em) {
  .shows-image__text {
    display: flex;
    justify-content: center;
  }
}

.main__container--top {
  height: auto;
}
.main__container--top .aboutthemusicians-text {
  color: #323232;
  font-family: "bold";
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1.563rem;
  padding-bottom: 1.563rem;
}
.main__container--top .aboutthemusicans-container {
  min-width: 23.438em;
  height: auto;
  display: flex;
  justify-content: center;
}
.main__container--top .aboutthemusicans-image {
  width: 100vw;
  height: auto;
}
@media screen and (min-width: 48.063em) and (max-height: 67.5em) {
  .main__container--top .aboutthemusicans-image {
    width: 50%;
    height: auto;
  }
}
@media screen and (min-width: 48em) and (max-height: 64em) {
  .main__container--top .aboutthemusicans-image {
    width: 100%;
    height: auto;
  }
}

.aboutthemusicians {
  display: grid;
}
.aboutthemusicians .main__container--bottom {
  height: auto;
}
@media screen and (min-width: 48.063em) and (max-height: 67.5em) {
  .aboutthemusicians .main__container--bottom {
    display: contents;
    width: 50%;
  }
}
.aboutthemusicians .main__container--bottom .header2 {
  padding-left: 1rem;
  padding-right: 1rem;
  font-family: "demi";
  color: #323232;
  padding-top: 1.563rem;
  width: 90%;
}
@media screen and (min-width: 48.063em) and (max-height: 67.5em) {
  .aboutthemusicians .main__container--bottom .header2 {
    display: flex;
    width: 50%;
    justify-self: center;
  }
}
@media screen and (min-width: 48em) and (max-height: 64em) {
  .aboutthemusicians .main__container--bottom .header2 {
    height: 30%;
    width: 90%;
    justify-self: flex-start;
    display: flex;
    flex-wrap: wrap;
  }
}
.aboutthemusicians .main__container--bottom .subheader {
  padding-left: 1rem;
  padding-right: 1rem;
  font-family: "demi";
  color: #323232;
  padding-top: 1.875rem;
  padding-bottom: 1.875rem;
}
@media screen and (min-width: 48.063em) and (max-height: 67.5em) {
  .aboutthemusicians .main__container--bottom .subheader {
    display: flex;
    width: 50%;
    justify-self: center;
  }
}
@media screen and (min-width: 48em) and (max-height: 64em) {
  .aboutthemusicians .main__container--bottom .subheader {
    justify-self: flex-start;
  }
}
.aboutthemusicians .main__container--bottom .header3 {
  font-family: "demi";
  color: #323232;
  padding-bottom: 1.25rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 1.313rem;
}
@media screen and (min-width: 48.063em) and (max-height: 67.5em) {
  .aboutthemusicians .main__container--bottom .header3 {
    display: flex;
    width: 50%;
    justify-self: center;
  }
}
@media screen and (min-width: 48em) and (max-height: 64em) {
  .aboutthemusicians .main__container--bottom .header3 {
    justify-self: flex-start;
    display: flex;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 23.438em) and (max-height: 41.688em) {
  .aboutthemusicians .main__container--bottom .paragraph-container {
    display: inline-grid;
  }
}
@media screen and (min-width: 48.063em) and (max-height: 67.5em) {
  .aboutthemusicians .main__container--bottom .paragraph-container {
    display: flex;
    width: 50%;
    justify-self: center;
  }
}
@media screen and (min-width: 48em) and (max-height: 64em) {
  .aboutthemusicians .main__container--bottom .paragraph-container {
    width: 100%;
  }
}
.aboutthemusicians .main__container--bottom .paragraph-container .paragraph1,
.aboutthemusicians .main__container--bottom .paragraph-container .paragraph2 {
  display: table-cell;
  padding-left: 1rem;
  padding-right: 1rem;
  font-family: "Avenir";
  color: #323232;
  width: auto;
}
@media screen and (min-width: 48.063em) and (max-height: 67.5em) {
  .aboutthemusicians .main__container--bottom .paragraph-container .paragraph1,
.aboutthemusicians .main__container--bottom .paragraph-container .paragraph2 {
    font-size: xx-small;
  }
}
@media screen and (min-width: 48em) and (max-height: 64em) {
  .aboutthemusicians .main__container--bottom .paragraph-container .paragraph1,
.aboutthemusicians .main__container--bottom .paragraph-container .paragraph2 {
    font-size: large;
  }
}

.gallery-section {
  padding-left: 1rem;
  padding-right: 1rem;
}
.gallery-section #photogallerytext {
  color: #323232;
  font-family: "bold";
  padding-top: 1.563rem;
}
.gallery-section .gallery {
  width: 15rem;
  height: auto;
}
@media screen and (min-width: 48.063em) and (max-height: 67.5em) {
  .gallery-section .gallery {
    width: 4rem;
  }
}
.gallery-section .gallery_container {
  background-color: #FAFAFA;
}
@media screen and (min-width: 23.438em) and (max-height: 41.688em) {
  .gallery-section .gallery_container {
    display: inline-table;
    text-align: center;
  }
}
@media screen and (min-width: 48.063em) and (max-height: 67.5em) {
  .gallery-section .gallery_container {
    display: block;
    text-align: center;
  }
  .gallery-section .gallery_container .top-row,
.gallery-section .gallery_container .middle-row,
.gallery-section .gallery_container .last-row {
    display: flex;
  }
}

.comment-box {
  display: flex;
  flex-direction: column;
}
.comment-box .comment-box__header {
  padding-top: 2rem;
  padding-bottom: 1.875rem;
  color: #323232;
  font-family: "bold";
  padding-left: 1rem;
  padding-right: 1rem;
}
.comment-box__form {
  display: flex;
  flex-direction: column;
  width: 60%;
  align-self: center;
}
.comment-box__input {
  border: 2px solid #323232;
  border-radius: 0.2rem;
  padding: 0.5rem;
}
.comment-box__text {
  border: 2px solid #323232;
  border-radius: 0.2rem;
  padding: 1rem;
}
@media screen and (min-width: 23.438em) and (max-height: 41.688em) {
  .comment-box__text {
    width: -webkit-fill-available;
  }
}
.comment-box__label {
  font-size: smaller;
  color: silver;
}
.comment-box .comment-box-parent {
  display: flex;
}
.comment-box .comment-box-parent .avatar {
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  margin-top: 0.5rem;
  margin-right: 1rem;
}
.comment-box .comment-box-parent .comment-parent {
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}
@media screen and (min-width: 48em) and (max-height: 64em) {
  .comment-box .comment-box-parent .comment-parent {
    display: grid;
  }
}
.comment-box .comment-box-parent .submit-button {
  text-align: end;
}
.comment-box .comment-box-parent .submit-button__button {
  color: white;
  background-color: #323232;
  padding: 0.7rem;
  border-radius: 0.2rem;
}
@media screen and (min-width: 48em) and (max-height: 64em) {
  .comment-box .name-label-container {
    width: -webkit-fill-available;
  }
}
@media screen and (min-width: 23.438em) and (max-height: 41.688em) {
  .comment-box .name-label-container {
    width: -webkit-fill-available;
  }
}
@media screen and (min-width: 48em) and (max-height: 64em) {
  .comment-box .name-label-container .label-parent {
    display: grid;
  }
}
.comment-box .comment-box__comments {
  display: inline-grid;
  align-self: center;
}

footer {
  background-color: #323232;
}

.getintouch {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 3.125rem;
  padding-bottom: 1.25rem;
}
@media screen and (min-width: 48.063em) and (max-height: 67.5em) {
  .getintouch {
    display: flex;
  }
}
@media screen and (min-width: 48em) and (max-height: 64em) {
  .getintouch {
    display: flex;
  }
  .getintouch .icons {
    padding-right: 1rem;
    margin-left: 2rem;
    margin-top: 0.5rem;
  }
}
.getintouch__text {
  color: white;
  font-family: "bold";
  font-size: 3.125rem;
}
.getintouch .icons {
  height: 2rem;
}
.getintouch .icons__icon {
  margin-right: 2rem;
  height: -webkit-fill-available;
}
.getintouch .bandsite-logo-footer {
  height: 2rem;
}
.getintouch .bandsite-logo-footer__img {
  height: 1rem;
}
@media screen and (min-width: 23.438em) and (max-height: 41.688em) {
  .getintouch .bandsite-logo-footer {
    display: none;
  }
}
@media screen and (min-width: 48em) and (max-height: 64em) {
  .getintouch .bandsite-logo-footer {
    display: none;
  }
}

.contacts__container {
  padding-left: 1rem;
  padding-right: 1rem;
}

.subheader {
  color: white;
  font-family: "demi";
}
@media screen and (min-width: 48.063em) and (max-height: 67.5em) {
  .subheader {
    display: flex;
    width: 50%;
    justify-self: center;
  }
}
@media screen and (min-width: 48em) and (max-height: 64em) {
  .subheader {
    display: flex;
  }
}
.subheader__richard--sub {
  color: white;
  font-family: "Avenir";
  padding-top: 2rem;
  padding-right: 2rem;
}
.subheader__marsha--sub {
  color: white;
  font-family: "Avenir";
  padding-top: 2rem;
  padding-right: 2rem;
}
.subheader__russel--sub {
  color: white;
  font-family: "Avenir";
  padding-top: 2rem;
  padding-right: 2rem;
}

#shows-image {
  background-image: url(../../sprint-one/assets/images/neon-sign.jpg);
}

#shows-image-text {
  color: white;
  font-family: "bold";
  font-size: xx-large;
  font-weight: bolder;
}

.soundcloud-song__container {
  display: flex;
  align-self: flex-end;
  width: 100%;
}

.shows-title {
  padding-top: 3.125rem;
}

#shows {
  padding-top: 1.563rem;
  padding-bottom: 1.563rem;
  color: #323232;
  font-family: "bold";
}/*# sourceMappingURL=styles.css.map */