@use "./partials/partials" as *;


*{
    border: 0;
    padding: 0;
    margin: 0;
    }

body {

    font-family: "Avenir";
}

span {

    display: table;
    padding-top: 0.625rem;
}


//navbar//

.navbar {
    
    background-color: $darkgray;
    padding: 1.25rem;
    
    &__container--left {
        padding-bottom: 5px;
        padding-top: 0.625rem;
        @include default-padding;
        @include desktop {
            padding-right: 3rem;
        }
        @include tablet {
            padding-right: 3rem;
        }
    }

    &__container--right{
        color: white;
        display: flex;
        padding-block-start: inherit;
        width: 100%;
        @include mobile {
            justify-content: space-around;
        }
    }

    @include mobile {
        @include flex-align-items-center;
        flex-direction: column;
        
    }

    @include tablet {
        @include flex-start;
    }
    @include desktop {
        @include flex-start;
    }

    #button1 {

        @include tablet {
            @include button-padding;
        }
        @include desktop {
            @include button-padding;
        }
    }
}

//Biography Page//

//hero image//

.hero-image {

    background-image: url(../assets/images/concert_background_image.jpg); 
    background-size: cover;
    height: 40vh;

    @include mobile {

            width: 100%;
            height: 40vh; 
    }

    &__text {

        @include bold-white;
        font-weight: bolder;
        font-size: xx-large;
        padding-left: 1rem;
        width: 40%;
        height: 100%;
        @include flex-align-items-center;
        
        @include mobile {
            @include flex-center;
        }

    }       
}

//top part of main//

.main__container--top {

    height: auto;

    .aboutthemusicians-text {

            @include bold-darkgray;
            @include default-padding;
            @include about-the-musicians-padding;
        }

    .aboutthemusicans-container {

        min-width: 23.438em;
        height: auto;
        @include flex-center;
    }

    .aboutthemusicans-image {
        width: 100vw;
        height: auto;

        @include desktop {

            width: 50%;
            height:auto;
        }

        @include tablet {

            width: 100%;
            height: auto;
        }
    }
}

//bottom part of main//

//biography//

.aboutthemusicians {

    display: grid;
.main__container--bottom {

    height: auto;

    @include desktop {

        display: contents;
        width: 50%;
    }
    .header2 {

        @include default-padding;
        @include darkgray-demi;
        padding-top: 1.563rem;
        width: 90%;

        @include desktop {

            display: flex;
            width: 50%;
            justify-self: center;
        }
        
        @include tablet {
            height: 30%;
            width: 90%;
            justify-self: flex-start;
            @include flex-wrap;
        }
    }

    .subheader {

        @include default-padding;
        @include darkgray-demi;

        @include desktop {

            display: flex;
            width: 50%;
            justify-self: center;
        }

        @include tablet {

            justify-self: flex-start;
        }
        padding-top: 1.875rem;
        padding-bottom: 1.875rem;
    }

    .header3 {

        @include darkgray-demi;
        padding-bottom: 1.25rem;
        @include default-padding;
        font-size: 1.313rem;

        @include desktop {

            display: flex;
            width: 50%;
            justify-self: center;
        }

        @include tablet {

            justify-self: flex-start;
            @include flex-wrap;
        }
    }

    .paragraph-container {

        @include mobile {

            display: inline-grid;
        }

        @include desktop {

            display: flex;
            width: 50%;
            justify-self: center;
        }

        @include tablet {

            width: 100%;
        }
        .paragraph1,
        .paragraph2 {

            display: table-cell;
            @include default-padding;
            @include darkgray-avenir;
            width: auto; 

            @include desktop {

                font-size: xx-small;
            }

            @include tablet {

                font-size: large;
            }
    }
    }
}
}

//gallery//

.gallery-section {

    @include default-padding;


    
    #photogallerytext {

        @include bold-darkgray;
        padding-top:1.563rem;
    }

    .gallery {

        width: 15rem;
        height: auto;

        @include desktop {

            width: 4rem;
        }
    }

    .gallery_container {

        background-color: $alabaster;

        @include mobile {

            display: inline-table;
            text-align: center;
        }

        @include desktop {
            
            display: block;
            text-align: center;

        .top-row,
        .middle-row,
        .last-row {

            display: flex;
        }
        }  
    }
}

//comment section//

.comment-box {

    .comment-box__header{

        padding-top: 2rem;
        padding-bottom: 1.875rem;
        @include bold-darkgray;
        @include default-padding;
    }

    display:flex;
    flex-direction:column;

    &__form {

    display:flex;
    flex-direction: column;
    width: 60%;
    align-self: center;
    }

    &__input {

        border: 2px solid $darkgray;
        border-radius: .2rem;
        padding: .5rem;
    }
    &__text {

        border: 2px solid $darkgray;
        border-radius: .2rem;
        padding: 1rem;
        
        @include mobile {

            width: -webkit-fill-available;
        }
    }

    &__label {

        font-size: smaller;
        color: silver;
    }

.comment-box-parent{
    display: flex;

    .avatar {
        border-radius: 50%;
        width: 2rem;
        height: 2rem;
        margin-top: .5rem;
        margin-right: 1rem;
    }

    .comment-parent{
        padding-top: 1rem;
        padding-bottom: .5rem;

        @include tablet {

            display: grid;
        }
    }
    .submit-button {
        text-align: end;

        &__button {
            
            color: white;
            background-color: $darkgray;
            padding: .7rem;
            border-radius: .2rem;
        }
    }
}

.name-label-container {

    @include tablet {
        width: -webkit-fill-available;
    }
    @include mobile {
        width: -webkit-fill-available;
    }

    .label-parent {

        @include tablet {
            display: grid;
        }
    }
}

.comment-box__comments {

    display: inline-grid;
    align-self: center;
}
}

//footer//


footer {

    background-color: $darkgray;
}

.getintouch {

    @include default-padding;
    padding-top: 3.125rem;
    padding-bottom: 1.25rem;

    @include desktop {

        display: flex;
    }
    
    @include tablet {

        display: flex;

        .icons {
            padding-right: 1rem;
            margin-left: 2rem;
            margin-top: .5rem;
        }
    }

    &__text {
    
        @include bold-white;
        font-size: 3.125rem;
    }

    .icons {

        height: 2rem;

        &__icon {

            margin-right: 2rem;
            height: -webkit-fill-available;
        }
    }

    .bandsite-logo-footer { 

        height: 2rem;
        
        &__img {

            height: 1rem;
        }
        @include mobile {
    
            display: none;
        }
    
        @include tablet {
    
            display: none;
        }
    }
}

.contacts__container {

    @include default-padding;
}

.subheader {

    @include white-demi;


    @include desktop {

        display: flex;
        width: 50%;
        justify-self: center;
    }

    @include tablet {

        display: flex;
    }

    &__richard--sub {
        @include white-avenir;
        padding-top: 2rem;
        padding-right: 2rem;
    }
    &__marsha--sub {
        @include white-avenir;
        padding-top: 2rem;
        padding-right: 2rem;
    }
    &__russel--sub {
        @include white-avenir;
        padding-top: 2rem;
        padding-right: 2rem;
    }
}

