@use "./partials/partials" as *;


*{
    border: 0;
    padding: 0;
    margin: 0;
    }

body {

    font-family: "Avenir";
}

span {

    display: table;
    padding-top: 0.625rem;
}


//Biography Page//


.navbar {
    
    background-color: $darkgray;
    padding: 1.25rem;
    
    &__container--left {
        padding-bottom: 5px;
        padding-top: 0.625rem;
        @include default-padding;
        @include desktop {
            padding-right: 3rem;
        }
        @include tablet {
            padding-right: 3rem;
        }
    }

    &__container--right{
        color: white;
        display: flex;
        padding-block-start: inherit;
        width: 100%;
        @include mobile {
            justify-content: space-around;
        }
    }

    @include mobile {
        @include flex-align-items-center;
        flex-direction: column;
        
    }

    @include tablet {
        @include flex-start;
    }
    @include desktop {
        @include flex-start;
    }

    #button1 {

        @include tablet {
            @include button-padding;
        }
        @include desktop {
            @include button-padding;
        }
    }
}

//

.hero-image {

    background-image: url(../assets/images/concert_background_image.jpg); 
    background-size: cover;
    height: 40vh;

    @include mobile {

            width: 100%;
            height: 40vh; 
    }

    &__text {

        @include bold-white;
        font-weight: bolder;
        font-size: xx-large;
        padding-left: 1rem;
        width: 40%;
        height: 100%;
        @include flex-align-items-center;
        
        @include mobile {
            @include flex-center;
        }
        
        // @include desktop {      
        // }
    }       
}

//

.main__container--top {

    height: auto;

    .aboutthemusicians-text {

            @include bold-darkgray;
            @include mobile {

                @include default-padding;
                @include about-the-musicians-padding;
            }
            @include tablet {

                @include default-padding;
                @include about-the-musicians-padding;
            }
        }

    .aboutthemusicans-container {

        min-width: 23.438em;
        height: auto;
        @include flex-center;
    }

    .aboutthemusicans-image {
        width: 100vw;
        height: auto;
    }
}

//

.main__container--bottom {

    height: auto;

    .header2 {

        @include default-padding;
        @include darkgray-demi;
        padding-top: 1.563rem;
        width: 90%;

        @include tablet {
            height: 30%;
            width: 90%;
            @include flex-wrap;
        }
    }

    .subheader {

        @include default-padding;
        @include darkgray-demi;
        padding-top: 1.875rem;
        padding-bottom: 1.875rem;
    }

    .header3 {

        @include darkgray-demi;
        padding-bottom: 1.25rem;
        @include default-padding;
        font-size: 1.313rem;
        @include tablet {
            @include flex-wrap;
        }
    }

    .paragraph-container {

        .paragraph1,
        .paragraph2 {

            display: table-cell;
            @include default-padding;
            @include darkgray-avenir;
            width: auto;
            @include tablet {
        }
    }
    }
}

//

.gallery-section {

    @include default-padding;

    #photogallerytext {

        @include bold-darkgray;
        padding-top:1.563rem;
    }

    .gallery {

        width: 15rem;
        height: auto;
    }

    .gallery_container {

        background-color: $alabaster;
    }
}

//

.comment-box {

    .comment-box__header{

        padding-top: 2rem;
        padding-bottom: 1.875rem;
        @include bold-darkgray;
        @include default-padding;
    }

    display:flex;
    flex-direction:column;
    &__form {
    display:flex;
    flex-direction: column;
    }
    &__input {
        border: 1px solid black;
        width: 50%;
    }
    &__text {
        border: 1px solid black;
        width: 50%;
    }
}

footer {

    background-color: $darkgray;
}

.littleicons_container {

    display: flex;
    justify-content:space-around;
    padding-right: 3.125rem;
}

.getintouch {

    @include bold-white;
    font-size: 3.125rem;
    padding-top: 3.125rem;
    padding-bottom: 1.25rem;
}

.subheader {

    @include white-demi;

    &__richard--sub {
        @include white-avenir;
    }
    &__marsha--sub {
        @include white-avenir;
    }
}




//Shows Page//

#shows-image {

    background-image: url(../../sprint-one/assets/images/neon-sign.jpg);
}

#shows-image-text {

    @include bold-white;
    font-size: xx-large;
    font-weight: bolder;
}



.soundcloud-song__container {

    display: flex;
    align-self: flex-end;
    width: 100%;
}

.shows-title {

    padding-top: 3.125rem;
}

#shows {

    padding-top: 1.563rem;
    padding-bottom: 1.563rem;
    @include bold-darkgray;
}
