@use "./partials/partials" as *;

// * {
//     font-family: "Regular";
// }

$darkgray: #323232
;
$silver: #AFAFAF
;

.navbar {
        background-color: $darkgray;
        display: flex;
        flex-direction: column;
        align-items: center;
        

    &__container--right{
        font-family: "regular";
        color: white;
        display: flex;
    }
   
}

.nav-button{
    padding-left: 16px;
    padding-right: 16px;
}

#hero-image {
    background-image: url(../assets/images/hero-image.jpg);
    background-size: cover;
    width:100vw;
    height:30vh;
    display:flex;
    align-items:center;
    @include mobile {
    }
}

#hero-text{
    font-family: "bold";
    font-weight: 500;
    font-size: x-large;
    color: white;
    max-width: 40vh;
    padding-left: 16px;
}

.header {
    font-family: "bold";
}

#aboutthemusicians {
    color: $darkgray;
}

.header2 ,
.header3 {
    font-family: "bold"
}

.subheader {
    font-family: "bold"
}

.paragraph {
    font-family: "regular";
    font-weight: lighter;
    font-size: small;
}

#image1 {
    @include mobile {
    }
}

.getintouch {
    font-family: "bold"
}

.subheader__richard {
    font-family: "bold";

    &__richard--sub {
        font-family: "regular";
        
    }
}
